<html xmlns th:"http//www.thymeleaf.org">
<head>
	<title>HomePage</title>
	<link rel="stylesheet" type="text/css" href="adminpagestyle.css">
</head>
<body>
		<header id="main-header">
			<div class="container"> 
				<h1>JOB PORTAL</h1>
			</div>
		</header>
		<figure >
			<img src="image4.jpg" id="image">
		</figure>
		<form id="frame" th:action="@{/uploading}" method="POST">
			<h2>Fill the Form</h2>
			<p>Email</p>
			<input type="email" name="email" placeholder="Email"><br>
			<p>Company name:</p>
			<input type="text" name="company" placeholder="Company name"><br>
			<p>Language:</p>
			<input type="text" name="language"
			placeholder="Language"><br>
			<p>Qualification:</p>
			<input id="bigger" type="text" name="qualification" placeholder="Qualification"><br>
			<p>Description:</p>
			<input id="bigger" type="text" name="description"
			placeholder="Description">
			<p>Mobilenumber:</p>
			<input type="text" name="mobilenumber" placeholder="Mobilenumber">
			<button type="submit" >Upload</button>
		</form>
</body>
</html>